---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="会社概要"
  pageType="webpage"
  publishedAt="2020-06-15 13:00:00 +0900"
  modifiedAt="2020-06-15 13:00:00 +0900"
>
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="columns featured-post is-multiline">
        <div class="column is-12 post">
          <article class="columns featured">
            <div class="column is-6 featured-content va">
              <div>
                <h2 class="post-title">会社概要</h2>
                <ul>
                  <li>会社名: Tisch合同会社</li>
                  <li>設立: 2020年6月15日</li>
                  <li>本社所在地: 島根県松江市東本町二丁目25番地1東本町ビル4階B</li>
                  <li>連絡先: office@tisch.llc</li>
                  <li>代表社員: 田上健太</li>
                  <li>資本金: 2,000,000円</li>
                  <li>事業内容: 不動産関連データ提供サービスの開発</li>
                </ul>
              </div>
            </div>
            <div class="column is-6 post-img">
              <img
                class="responsive-image"
                src="/images/about.png"
                alt="会社"
                width="800"
                height="667"
                loading="lazy"
              />
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
