---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="columns featured-post is-multiline">
        <div class="column is-12 post">
          <article class="columns featured">
            <div class="column is-6 post-img">
              <img
                class="responsive-image"
                src="/images/top.png"
                alt="街"
                width="1000"
                height="694"
                loading="eager"
              />
            </div>
            <div class="column is-6 featured-content va">
              <div>
                <h2 class="post-title">松江･出雲 から生まれたベンチャー企業</h2>
                <p class="post-excerpt">
                  <span class="has-text-weight-semibold">「先人の知恵」や「地域の特色」</span>
                  といった情報を、
                  <span class="has-text-weight-semibold">機械学習を用いて</span>
                  見える化、更には自動化することで、属人的な事柄、事業を誰でも扱えるように標準化していきます。そして、
                  <span class="has-text-weight-semibold">より多くの人が、より良いサービスを受けられる環境</span>
                  を目指して技術開発を行います。
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
