---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="開発サービス"
  pageType="webpage"
  publishedAt="2020-06-15 13:00:00 +0900"
  modifiedAt="2020-06-15 13:00:00 +0900"
>
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="columns featured-post is-multiline">
        <div class="column is-12 post">
          <article class="columns featured">
            <div class="column is-6 post-img">
              <img
                class="responsive-image"
                src="/images/services.png"
                alt="デバイス"
                width="1000"
                height="694"
                loading="lazy"
              />
            </div>
            <div class="column is-6 featured-content va">
              <div>
                <h2 class="post-title">開発サービス</h2>
                <ul>
                  <li>
                    <a href="https://www.tellusxdp.com/" target="_blank" rel="noreferrer noopener">Tellus</a>
                    を利用した衛星画像分析データ販売
                  </li>
                  <li>松江・出雲の不動産マッチングサービス</li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
